--extra-index-url https://download.pytorch.org/whl/cu113
torch
git+https://github.com/huggingface/diffusers.git
#transformers
git+https://github.com/huggingface/transformers
scipy
ftfy
accelerate
psutil